@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

:root{
    /* BACKGROUND COLORS */

    /* Main Container Color*/
    --mainContainerColor : white;
    /* Employee Dashboard Container, Button,*/
    --dashboardBackgroundColor: #6930c3;
    /* Employee Salaries Background Colors*/
    --firstContainerColor : #adb5bd;
    --OneContainerColor: #e5d8ee;
    --secondContainerColor: #ced4da;
    --thirdContainerColor: #dee2e6;
    /* InputButtonColor */
    --buttonBackgroundColor: #ced4da;
    /* Text Color */
    --RecordTextColor: #495057;

    /* PADDING */
    /* Employee Dashboad, Employee Salaries, Employee Records */
    --smallPadding: 1rem;
    --smallerPadding: 0.75rem;
    --notTooBigPadding: 0.87rem;
    --bigPadding: 2rem;
    --inputEmployee: 0.5rem 0.75rem;
    --calculateTotalPayment: 0.5rem 1rem;
    --EmployeeSalaryandStructure: 0 3rem;
     
    /* ROW GAPS AND COLUMN GAPS */
    --smallRowGap: 1rem;
    --smallerRowGap: 0.5rem;
    --BigColumnGap: 3rem;

    /* FONTS */
    /* Heading Texts, Paragraph Texts, Button Texts */
    --BigText : 1rem;
    --BiggerText: 1.5rem;
    --smallText: 0.75rem;
}

.dashboard-main-container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--mainContainerColor);
    padding: var(--smallPadding);
    row-gap: var(--smallRowGap);
}

.employee-dashboard-with-icon{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    justify-content: space-between;
    align-items: start;
    background-color: var(--dashboardBackgroundColor);
    padding: var(--smallPadding);
}

.employee-dashboard{
    width:fit-content;
    height:auto;
}

.employee-dashboard h2{
  color:var(--mainContainerColor)
}

.with-icon{
    width:fit-content;
    height:auto;
}

.with-icon i{
    font-size: 2rem;
    color: white
}

.employee-record-container{
    width:100%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: var(--smallRowGap);
    padding:var(--EmployeeSalaryandStructure);
}

.employee-salaries-button{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.employee-salaries{
    width: fit-content;
    height:auto;
}

.employee-salaries p{
    font-size: var(--BiggerText);
}

.add-employee-button{
    width:fit-content;
    height:auto;
}

.add-employee-button button{
    padding: var(--smallPadding);
    background-color: var(--dashboardBackgroundColor);
    color:var(--mainContainerColor);
    font-size: var(--bigText);
    font-weight: 600;
    outline:none;
    border:none;
    border-radius: 0.75rem;
    cursor:pointer;
}

table {
  width: 100%;
  height:auto;
  border-collapse: collapse;
}

thead {
  background-color:var(--firstContainerColor);
  border:none;
  border-collapse: collapse;
}

thead tr:nth-child(1) {
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden; 
}

th, td {
  padding: var(--smallPadding);
  text-align: left;
  border:none;
}

tbody tr:nth-child(1) {
  background-color: var(--OneContainerColor);
  display: table-row;
}
tbody tr:nth-child(2) {
  background-color: var(--secondContainerColor);
  display: table-row;
}
tbody tr:nth-child(3) {
  background-color: var(--thirdContainerColor);
  display: table-row;
}
tbody tr:nth-child(4) {
  background-color: var(--secondContainerColor);
  display: table-row;
}

td button {
    padding: var(--smallerPadding);
    border-radius: 1rem;
    border: none;
    outline: none;
    color: var(--mainContainerColor);
    background-color: var(--dashboardBackgroundColor);
    cursor: pointer;
}

input{
  padding: var(--inputEmployee);
  font-size: var(--bigText);
  width:50%;
}

.figure-click-container{
  width:100%;
  height:auto;
  text-align: center;
}

.figure-click-container button{
  background-color: var(--dashboardBackgroundColor);
  padding: 0.5rem 1rem;
  outline:none;
  border:None;
  border-radius: 0.5rem;
  font-size: 1rem;
  color:var(--mainContainerColor)
}

.employee-salary-structure-container{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--smallPadding);
  background-color: var(--thirdContainerColor);
  row-gap: var(--smallRowGap);
  border-radius: 0.5rem;
}

.employee-salary-structure{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.employee-salary-structure h2{
  font-size: var(--BiggerText);
}

.employee-salary-structure button{
  border:none;
  outline:none;
  border-radius: 50%;
  border: 3px solid var(--dashboardBackgroundColor);
  padding: 0.3rem;
  background-color: var(--secondContainerColor);
  cursor: pointer;
}

.employee-salary-structure i{
  font-size: 1rem;
  font-weight:bold;
  color:var(--dashboardBackgroundColor);
}

.salary-deductions-container{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.salary-container, .deductions-container,.total-container {
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--smallerRowGap);
}

hr{
  width: 70%;
  height: 2px;
  background-color:#bec7cf;
}

.salary-container h3, .deductions-container h3, .total-container h3{
  color:var(--dashboardBackgroundColor)
}

.basic-pay-container, .professional-tax-container, .total-salary-container{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: var(--smallerRowGap);
}

.basic-pay-container p, .professional-tax-container p, .total-salary-container p{
  
}

.basic-pay, .Total-pay{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.basic-pay button, .Total-pay button{
  padding: var(--smallerPadding);
  outline:none;
  border: none;
  background-color: var(--firstContainerColor);
  color:black;
  font-size: var(--BigText);
  cursor: pointer;
}

.basic-pay input, .Total-pay input{
  width:30%;
  height:auto;
  outline:none;
  border:none;
  padding: var(--smallerPadding);
  border: 1px solid var(--firstContainerColor)
}

.all-employees-salary{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: var(--smallerRowGap);
}

.all-employees-salary button{
  outline:none;
  border:none;
  background-color: var(--dashboardBackgroundColor);
  padding: var(--calculateTotalPayment);
  font-size: var(--bigText);
  border-radius: 0.5rem;
  font-weight: 500;
  color: var(--mainContainerColor);
  cursor: pointer;
}

.description-container{
  width:fit-content;
  height:auto;
}

.description-container p{
  color:#495057;
}

.amount{
  width: fit-content;
  height:auto;
}

.amount p{
  font-size: 1.2rem;
  font-weight: 700;
}